<h1>Welcome to URL Shortener</h1>
<h2>where you can shorten any long URL</h2>
<p>Just copy that long URL and paste it down blew in the form and I will make it short and easy to remember</p>
<%= form_with model: @url do |f| %>
  <%= f.label :long_url %>
  <%= f.text_field :long_url %>
  <%= f.submit %>
<% end %>

<p>Do you want to see all of the URLs?</p>
<button><%= link_to 'Yes, show me', urls_path %></button>